$name-fill-color: #11cf00;
$name-border-color: black;

#body-text {
  font-family: 'Crimson Text';
}

div#rootpage {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #rootpage-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page-transition-wrapper {
  height: 96%;
  width: 100%;
  margin-top: 20px;
}

.page-transition-wrapper.has-roadmap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

div#firstpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  .name-row {
    letter-spacing: -9px;
    line-height: 124px;
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 148px;
    font-weight: bold;
  }
  .homepage-bottom {
    overflow-x: hidden;
    position: absolute;
    bottom: 10dvh;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 38px;
  }
  .blurb {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
 
  .homepage {
    height: 100%;
    padding-top: 20px;
    margin: 0 auto;
  }

  .aboutmepage {
    margin: 3em;
  }
}

.roadmap-page {
  width: 80dvw;
  max-width: 800px;
  overflow: auto;
  height: 70dvh;
}

.portfolio-page {
  width: 50dvw;
  height: 90dvh;
  position: relative;
}

@media screen and (min-width: 1025px) {
  div#rootpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div#firstpage {
    min-height: 700px;
  }

  .roadmap-page {
    max-width: 1080px;
    .roadmap-svg {
      width: 1020px;
    }
  }

  .homepage {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    max-width: 1620px;

    .title-name {
      font-size: 102px;
    }

    .homepage-contents {
      width: 38dvw;
      min-width: 636px;
      max-width: 800px;
      font-size: 21px;
      line-height: 34px;
    }

    img#jindaiji {
      max-width: 440px;
      max-height: 260px;
    }

    img#arrow-down {
      width: 60px;
      height: 60px;
    }
  }

  .portfolio-page {
    width: 75dvw;
    height: 60dvh;
    position: relative;
  }
}

@media screen and (min-width: 1400px) {
  .homepage {
    img#jindaiji {
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
