.menu-row {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-row {
  width: 200px;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
  .icon {
    width: 32px;
    height: 32px;
  }
}
