@import '../assets/animations/animations.scss';

/** ========= START ANIMATIONS ========= **/
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounceX {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 100px); /* 100px is the logo width */
  }
}

@keyframes bounceY {
  0% {
    top: 0;
  }
  100% {
    top: calc(100% - 50px); /* 50px is the logo height */
  }
}
/** ========= END ANIMATIONS ========= **/

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#responsive-header-row {
  width: 100dvw;
  height: 132px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid #e3e3e3;
}

.menu-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 100%;
}

.portfolio-video {
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 8%,
    black 85%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 8%,
    black 85%,
    transparent 100%
  );
}

.portfolio-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .portfolio-icon {
    width: 120px;
    height: 120px;
    background-color: lightgrey;
  }
  .portfolio-button {
    font-family: 'DotGothic16', serif;
    font-size: 13px;
    background-color: lightgrey;
    border-top: 2px solid white;
    border-left: 2px solid white;
    filter: drop-shadow(1px 1px 0px #000);
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    width: 120px;
    height: 30px;
    letter-spacing: -1px;
    padding: unset;

    -webkit-text-stroke: 0.3px black;
  }
  .portfolio-button:hover {
    background-color: darkgray;
  }
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.portfolio-window-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: scaleY(0);
  transform-origin: bottom;

  &.show {
    background: rgba(0, 0, 0, 0.75);
    animation: revealUp 0.5s ease forwards;

    z-index: 80;
  }
}

.portfolio-item-window-container {
  position: fixed;
  inset: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 85;
  display: flex;
  justify-content: center;
  align-items: center;
  &.hide {
    display: none;
  }
}

.portfolio-item-window {
  font-family: 'DotGothic16', sans-serif;

  max-width: 90dvw;
  height: 660px;
  z-index: 100;
  width: 1200px;

  filter: drop-shadow(2px 2px 1px black);
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  background-color: lightgrey;

  animation: popIn 0.5s ease forwards;

  &.hide {
    display: none;
  }

  #portfolio-window-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: linear-gradient(to right, #2a0014, #ffffff);

    color: #fff;
    font-size: 14px;
  }

  #portfolio-window-close {
    background-color: lightgrey;
    border-top: 1px solid white;
    border-left: 1px solid white;
    filter: drop-shadow(1px 1px 0px #000);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 40px;
    color: black;
    display: flex;
    align-items: center;
  }

  #portfolio-window-menu {
    border-bottom: 1px solid gray;
    height: 30px;
    border-left: 1px solid white;
    filter: drop-shadow(1px 0.5px 0.8px #000);
    background-color: lightgray;
    border-top: 1px solid white;

    #menu-item {
      padding-right: 15px;
    }
  }
}

#portfolio-window-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  #folder-container {
    width: 98%;
    height: 96%;
    display: flex;
    flex-direction: column;
    #folder-tab-button {
      font-size: 16px;
      background: lightgray;
      border-bottom: 5px solid lightgray;
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid black;

      width: 160px;

      position: absolute;
      z-index: 100;
    }
    #folder-content {
      margin-top: 45px;
      width: 100%;
      height: 86%;
      background-color: lightgray;
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      filter: drop-shadow(1px 0.5px 0.8px #000);
    }
    #folder-content::before {
      content: '';
      top: 0;
      left: 160px;
      border-top: 1px solid lightgray;
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolio-item-window {
    #portfolio-window-topbar {
      font-size: 18px;
    }
  }
  .menu-row {
    position: unset;
    margin-top: unset;
  }

  .portfolio-icon-container {
    height: 205px;
    .portfolio-icon {
      width: 150px;
      height: 150px;
    }
    .portfolio-button {
      width: 150px;
      height: 40px;
      font-size: 18px;
      -webkit-text-stroke: 0.5px black;
    }
  }
}

@media screen and (min-width: 1025px) {
  .menu-row {
    display: flex;
    flex-direction: row;
    width: 93.5%;
    justify-content: end;
  }
  #responsive-header-row {
    height: 162px;
  }
}

.portfolio-page {
  h1 {
    width: 215px;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    animation:
      bounceX 4s linear infinite alternate,
      bounceY 6s linear infinite alternate;
  }
}
